{% extends 'base.html' %}

{% block title %}
Create
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'posts:post_list' %}">All Posts</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Post</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col col-6">
            <h3>New Post</h3><br>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea name="content" rows="10" class="form-control" required></textarea>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" name="image" id="customFile" accept="image/*">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="draft" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Draft
                    </label>
                </div><br>
                <label for="inlineFormCustomSelect">Publish Date</label>
                <div class="form-row" id="inlineFormCustomSelect">
                    <div class="col-md-3 mb-3">
                        <select class="custom-select mr-sm-2" name="publish_month" required id="id_publish_month">
                            {% for key, value in months.items %}
                            <option value="{{ key }}" {% if current.month == key %} selected {% endif %}>{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <select class="custom-select mr-sm-2" name="publish_day" required id="id_publish_day">
                            {% for day in days %}
                            <option value="{{ day }}" {% if current.day == day %} selected {% endif %}>{{ day }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <select class="custom-select mr-sm-2" name="publish_year" required id="id_publish_year">
                            {% for year in years %}
                            <option value="{{ year }}" {% if current.year == year %} selected {% endif %}>{{ year }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Post!</button>
        </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block right_sidebar %}
{% include "parts/side_dashboard.html" %}
{% endblock right_sidebar %}